@import 'treo';

auth-sign-out {

  .content-layout {
    align-items: center;
    justify-content: center;

    .title {
      margin-top: 40px !important;
    }

    .description {
      margin-top: 16px;
    }

    button {
      margin-top: 35px !important;
    }
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
